In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
query = """
SELECT * FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
    schemaname != 'information_schema';


"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,zones,root,None,True,False,False,False

In [11]:
query = """
SELECT * FROM yellow_taxi_data LIMIT 100


"""

pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,688,2,2021-01-01 00:55:06,2021-01-01 00:58:30,2.0,1.01,1.0,N,236,141,1,5.0,0.5,0.5,2.20,0.0,0.3,11.00,2.5,None
1,689,2,2021-01-01 01:00:55,2021-01-01 01:13:24,2.0,3.79,1.0,N,140,7,1,13.0,0.5,0.5,5.04,0.0,0.3,21.84,2.5,None
2,690,2,2021-01-01 00:24:18,2021-01-01 00:27:07,2.0,0.65,1.0,N,68,68,2,4.0,0.5,0.5,0.00,0.0,0.3,7.80,2.5,None
3,691,2,2021-01-01 00:32:07,2021-01-01 00:33:46,2.0,0.38,1.0,N,68,68,2,3.5,0.5,0.5,0.00,0.0,0.3,7.30,2.5,None
4,692,2,2021-01-01 00:52:29,2021-01-01 00:55:42,2.0,0.55,1.0,N,246,48,2,4.5,0.5,0.5,0.00,0.0,0.3,8.30,2.5,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,783,2,2021-01-01 00:37:48,2021-01-01 00:39:56,1.0,0.53,1.0,N,141,263,2,4.0,0.5,0.5,0.00,0.0,0.3,7.80,2.5,None
96,784,2,2021-01-01 00:07:45,2021-01-01 00:23:39,1.0,2.36,1.0,N,230,238,1,12.5,0.5,0.5,1.70,0.0,0.3,18.00,2.5,None
97,785,2,2021-01-01 00:31:59,2021-01-01 00:41:36,1.0,1.73,1.0,N,142,68,1,8.5,0.5,0.5,4.30,0.0,0.3,16.60,2.5,None
98,786,2,2021-01-01 00:22:09,2021-01-01 00:41:35,1.0,4.82,1.0,N,186,75,2,17.0,0.5,0.5,0.00,0.0,0.3,20.80,2.5,None
99,787,2,2021-01-01 00:42:30,2021-01-01 00:44:16,1.0,0.46,1.0,N,75,74,1,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,None